h1{
  font-family: Mabook Regular;
  src: url(MABOOK.TTF);
}

img{
    width: 300px;
    height: 200px;
    border: 4px solid #575D63;
    padding: 10px;
    margin-left: 10px;
}

figure{
    
    float: left;
    width: 300px;
    height: 200px;
    text-align: center;
    font-style: normal;
    font-size: smaller;
    text-indent: 0;
    margin: 0.5em;
    padding: 0.5em;
    margin-left: 50px;
    font-size: 25px;
    margin-top: 70px;
      
}

figcaption{
  font-family: Rosemary Regular;
    src: url(ROSEMARY.OTF);
}